<a href="https://colab.research.google.com/github/SilverSurferClash/Sales_analysis/blob/main/clean_revenue_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('dark_background')
import seaborn as sns
import os
pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)
pd.set_option('display.precision', 2)
#Use option to round floats to two decimals
#pd.set_option('display.float_format',  '{:,.2f}'.format)
# Use option to display $ dollars
#pd.set_option('display.float_format', '${:.2f}'.format)

# Plotting pretty figures and avoid blurry images
#%config InlineBackend.figure_format = 'retina'
# Larger scale for plots in notebooks
#sns.set_context('notebook')


# Enable multiple cell outputs
#from IPython.core.interactiveshell import InteractiveShell
#InteractiveShell.ast_node_interactivity = 'all'

import warnings
warnings.filterwarnings('ignore')

In [4]:
os.chdir("/content/drive/MyDrive/Colab_Notebooks/Sales_Analysis")

In [5]:
import_sales = pd.read_excel("./Sales_Volume_EUAA_Analytics.xlsx", sheet_name = 0, skiprows = 28)

In [ ]:
# Select only rows that start with A0
#mask_remove sum columns - (i) remove NA ib Accession columns (ii) remove rows with no "A0"
#Remove first columns
#Convert received and final report date to datetime objects

In [6]:
mask_isna = import_sales['Accession #'].isna()
import_sales = import_sales[~mask_isna]

In [7]:
mask_startswith = import_sales['Accession #'].str.startswith("A0")
import_sales = import_sales[mask_startswith]

In [8]:
import_sales = import_sales.drop([import_sales.columns[0]], axis = 1)
import_sales["Date Received"] = pd.to_datetime(import_sales["Date Received"])

In [9]:
import_sales.sample(3)

,Account: Reporting Country ↑,Date Received,Accession #,Account: Account Name,Contact: Full Name,Billing Type,Final Report Date,Invoiced Ammount,Expected Amount $,Invoiced/In Prg.,FOC,Collected,Unnamed: 13,Unnamed: 14,Unnamed: 15,Total,1943954.40925
3574,NaN,2022-07-20,A0547839,Diagnosticos da America S.A.,Cristovam Scapulatempo Neto,Distributors : ROW,2022-07-28 00:00:00,1750 USD,Accounts Receivable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3048,NaN,2022-03-31,A0490315,Royal United Hospitals Bath,Sharath Gangadhara,Self-Pay Patient,2022-04-06 00:00:00,0 GBP,Experience,NaN,x,NaN,NaN,NaN,NaN,NaN,NaN
4138,NaN,2022-10-06,A0588636,HCA Laboratories,Neal Navani,Distributors : ROW,2022-10-13 00:00:00,2178.75,Accounts Receivable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
import_sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3660 entries, 0 to 4177
Data columns (total 17 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Account: Reporting Country  ↑  404 non-null    object
 1   Date Received                  3660 non-null   datetime64[ns]
 2   Accession #                    3660 non-null   object
 3   Account: Account Name          3660 non-null   object
 4   Contact: Full Name             3659 non-null   object
 5   Billing Type                   3660 non-null   object
 6   Final Report Date              3424 non-null   object
 7   Invoiced Ammount               3639 non-null   object
 8   Expected Amount $              2467 non-null   object
 9   Invoiced/In Prg.               361 non-null    object
 10  FOC                            716 non-null    object
 11  Collected                      1239 non-null   object
 12  Unnamed: 13                    3 non-null      object
 13  Unnamed: 14                    1 non-null      float64
 14  Unnamed: 15                    0 non-null      float64
 15  Total                          0 non-null      float64
 16  1943954.40925                  0 non-null      float64
dtypes: datetime64[ns](1), float64(4), object(12)
memory usage: 514.7+ KB