<a href="https://colab.research.google.com/github/SilverSurferClash/Sales_analysis/blob/main/Prophet_GH_forecast.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')
from google.colab import files

Mounted at /content/drive

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
plt.style.use('dark_background')
import seaborn as sns
import os
pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)
pd.set_option('display.precision', 2)
#Use option to round floats to two decimals
#pd.set_option('display.float_format',  '{:,.2f}'.format)
# Use option to display $ dollars
#pd.set_option('display.float_format', '${:.2f}'.format)
#sns.set_style("whitegrid")
# Plotting pretty figures and avoid blurry images
#%config InlineBackend.figure_format = 'retina'
# Larger scale for plots in notebooks
#sns.set_context('notebook')


# Enable multiple cell outputs
#from IPython.core.interactiveshell import InteractiveShell
#InteractiveShell.ast_node_interactivity = 'all'

import warnings
warnings.filterwarnings('ignore')

In [4]:
os.getcwd()
os.chdir("/content/drive/MyDrive/Colab_Notebooks/November_2022")

In [10]:
data = pd.read_csv("forecast_test_v1.csv")

In [11]:
data.head()

   Unnamed: 0  Year_Month        Type  Sales
0           0  2019-01-01   Biopharma    105
1           1  2019-01-01  Commercial     26
2           2  2019-01-01        ISTs     76
3           3  2019-02-01   Biopharma    110
4           4  2019-02-01  Commercial     18

In [19]:
# Only analyse the commercial cases

data_comm = data[(data["Type"] == "Commercial")]
commercial = data_comm[["Year_Month", "Sales"]]
commercial["Year_Month"] = pd.to_datetime(commercial["Year_Month"])
commercial.shape

(46, 2)

In [23]:
commercial = commercial.rename(columns={"Year_Month": "ds", "Sales": "y"})
commercial.head()

           ds   y
1  2019-01-01  26
4  2019-02-01  18
7  2019-03-01  19
10 2019-04-01  25
13 2019-05-01  24